
.btn{
    line-height:1;
}

.form-control{
    padding: .1rem .3rem;
    /* line-height: 0.8; */
}
.metismenu li{
    border-bottom:1px solid #555;
}
.navbar-brand-box{
    border-bottom:1px solid #555;
}
.table > :not(caption) > * > *{padding: 3px; text-align: center;}
.table-bordered{border: 1px solid #999;}